<!--<div class="oj-helper-clearfix oj-dialog-header">-->

<div  class="oj-md-12 oj-flex-item page-padding" >

    <div class="page-padding">
        <table id="table" summary="Department List" aria-label="Departments Table"
               data-bind="ojComponent: {component: 'ojTable', 
                                data: dataSource, 
                                emptyText: 'No data',
                                columnsDefault: {headerStyle: 'background:transparent;font-weight:bold;',sortable: 'none'}, 
                                columns: [{headerText: 'Frailty status', 
                                        field: 'fr_status',
                                        template: 'frailty_status'},
                                        {headerText: 'Frailty notice', 
                                        field: 'fr_notice',
                                        template: 'fr_notice_tpl',
                                        style: 'min-width: 8em; max-width: 8em; width: 8em'},
                                        {headerText: 'CR ID', 
                                        field: 'cr_id'},
                                        {headerText: 'Textline', 
                                        style: 'min-width: 8em; max-width: 8em; width: 8em',
                                        field: 'textline'},
                                        {headerText: 'Attention', 
                                        template: 'attention_tpl',
                                        sortable: 'enabled',
                                        sortProperty: 'attention'},
                                        {headerText: 'Intervention status', 
                                        field: 'interv_status'},
                                        {headerText: 'Intervention date', 
                                        field: 'interv_date'},
                                        {headerText: 'Actions', 
                                         template: 'action_btn_tpl'}],
                                        scrollPolicy: 'loadMoreOnScroll',
                                        scrollPolicyOptions: {'fetchSize': 10},
                                        rootAttributes: {'style':'width: 100%;height:100%;'}}">
        </table>

    </div>
</div>





<script type="text/html" id="frailty_status">

    <div >
        <img data-bind="attr: {src: 'images/listview/' + fr_status + '.png', alt: fr_status}"></img>
    </div>

    <!--            <li data-bind="attr: {id: 'emp'+id}">
                    <span class="avatar" data-bind="style: {backgroundImage: 'url('+url+')'}"></span>
                    
                </li>-->
</script>

<script type="text/html" id="fr_notice_tpl">
    <td data-bind="text: fr_notice,attr:{title:fr_status}"  >
        <a href="#" id="showmore">Show more</a> 
    </td>
</script>

<script type="text/html" id="attention_tpl">
    <td  data-bind="text: attention,attr: {class: fr_status}" >
    </td>
</script>

<script type="text/html" id="action_btn_tpl">
    <div id='menubutton-container'>

        <button id="menuButton"
                data-bind=" ojComponent:{component: 'ojButton', label: 'Actions',
            icons: { start: 'oj-fwk-icon-caret-end oj-fwk-icon', end: null },
            chroming: 'half', menu: '#myMenu'}">
        </button>
        <!--To handle menu item selection, use a select listener as shown, not a click listener.--> 
        <ul id="myMenu" style="display:none " 
             data-bind="ojComponent: {component: 'ojMenu', 
                                                    select: $parent.listMenuItemSelect}">      
            <li id="view_more_det">
                <a  href="#">View more details</a>
            </li>
            <li id="view_inter_sum">
                <a href="#">View Intervention Summary</a>
            </li>
            <li id="view_det_sum">
                <a  href="#">View Detection Summary</a>
            </li>
            <li id="divider"></li>
            <li id="open_det_ses">
                <a  href="#">Open Detection Session</a>
            </li>
            <li id="open_det_int" class="oj-disabled">
                <a  href="#">Open Detection Intervention</a>
            </li>

        </ul>
    </div>

</script>

